<br><br>
<label for="gist_file_name_<%= idExt %>">Name of Gist File:</label>
<input type="text" name="gist[gist_file][<%= idExt %>][name]" value=""
 id="gist_file_name_<%= idExt %>">
<br>
<label for="gist_file_body_<%= idExt %>">Body:</label><br>
<textarea id="gist_file_body_<%= idExt %>" rows="8" cols="40"
name="gist[gist_file][<%= idExt %>][body]"></textarea>